<div id="pageBG">
	<div id="aboutpageheader">
	</div>
			<div id="top">
				<h2>Our <span style="color: #85e8df"><em>Her</em></span>-story</h2>
			</div>
				<div id="bwFG">
					<p class="aboutP">
						Ramps dreamcatcher portland, chillwave everyday carry kinfolk lo-fi fixie ethical shabby chic meditation 8-bit. Marfa farm-to-table meditation offal narwhal. Try-hard before they sold out roof party lumbersexual, bicycle rights hammock hella marfa. Letterpress dreamcatcher portland hammock fingerstache thundercats. Yr 8-bit sartorial listicle gastropub, post-ironic austin sustainable biodiesel paleo thundercats ugh.
					</p>
				</div>

			<div id="blackwoman"></div>	

			<div class="asianW" id="awFG">
					<p class="aboutP">
						Ramps dreamcatcher portland, chillwave everyday carry kinfolk lo-fi fixie ethical shabby chic meditation 8-bit. Marfa farm-to-table meditation offal narwhal. Try-hard before they sold out roof party lumbersexual, bicycle rights hammock hella marfa. Letterpress dreamcatcher portland hammock fingerstache thundercats. Yr 8-bit sartorial listicle gastropub, post-ironic austin sustainable biodiesel paleo thundercats ugh.
					</p>
				</div>	
			
			<div class="asianwoman"></div>	
			
			<div class="latinaW" id="lwFG">
					<p class="aboutP">
						Ramps dreamcatcher portland, chillwave everyday carry kinfolk lo-fi fixie ethical shabby chic meditation 8-bit. Marfa farm-to-table meditation offal narwhal. Try-hard before they sold out roof party lumbersexual, bicycle rights hammock hella marfa. Letterpress dreamcatcher portland hammock fingerstache thundercats. Yr 8-bit sartorial listicle gastropub, post-ironic austin sustainable biodiesel paleo thundercats ugh.
					</p>
				</div>	
			
			<div class="latinawoman"></div>	
		
		<div id="space"></div>
</div>


