

<form id="emailform" method="post" action="/email_response">
	<input type="text" name="from" placeholder="from">
	<input type="text" name="to" placeholder="to">
	<input type="text" name="subject" placeholder="subject">
	<input type="text" name="body" placeholder="body">
	<input type="submit">
</form>