

<form method="post" action="/email_response">
	<input class="emailform" type="text" name="from" placeholder="from">
	<input class="emailform" type="text" name="to" placeholder="to">
	<input class="emailform" type="text" name="subject" placeholder="subject">
	<input class="emailform" type="text" name="body" placeholder="body">
	<input class="emailform" type="submit">
</form>