<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="main.css">
			<link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
		
		</head>
		<body>
			<nav class="header">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>
			<div>
				<form action="/email_response" method="post" class="join">
					<input type="text" name="username" placeholder="username" class="behave">
					<input type="text" name="password" placeholder="password" class="behave">
					<input type="submit" class= "button" >
				</form>
			</div>	
			<hr class="underline">
				<%= yield %>
			
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
				<script type="text/javascript" src="animationsandshit.js"></script>

			<footer>
				<nav class="footer">
					<hr class="underline">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/services">Services</a></li>
						<li><a href="/contact">Contact Us</a></li>	
						<ul>
							<li class="footer-block">Workshops</li>
							<li class="footer-block">Coaching</li>
							<li class="footer-block">Resources</li>
						</ul>		
					</ul>
					<div class="social">
						<img src="images/instagramlogo.png" height="50" width="50">
						<img src="images/twitter-logo.png" height="50" width="50">
						<a href="http://facebook.com"><img src="images/FBlogo.png" height="50" width="50"></a>
					</div>
				</nav>
			</footer>
		</body>
	</html>