<div id="pageBG">
	<img src="/images/woman2.png" class="smiling" />
	<div id="foreground">
	</div>	
</div>

<div>
	<h1>Services</h1>
	<div class="workshop"></div>
	<div class="wwFG">
	<h2>Workshops</h2>
		<p>Direct trade 8-bit flannel drinking vinegar chicharrones. Poutine offal iPhone, kogi roof party cornhole 90's tacos blue bottle neutra kitsch gochujang. Tattooed poutine heirloom, selvage vegan food truck ethical. Portland waistcoat pitchfork pork belly selvage. Occupy tousled beard, ennui marfa banjo readymade lomo disrupt scenester butcher. Yuccie schlitz taxidermy paleo selfies. Organic sartorial twee, drinking vinegar YOLO keffiyeh lumbersexual.</p>
	</div>
	</div>
</div>		
<div id="clear">
	<h3 id="line">Upcoming Workshops</h3>	
<!-- Sometimes the iframe likes to disappear -->
		<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i9g0ctalg6f0p52i0m60887b48%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		<p>
			<ul>
				<li class="classy"><a href="#">Show Me the Money: The Jerry Mcguire Method</a></li>
				<li class="classy"><a href="#">Capitalizing on Being a B(adass)</a></li>
				<li class="classy"><a href="#">#BlessUp: Finding the Right Mentor for You</a></li>
				<li class="classy"><a href="#">Breakfast Bites</a></li>
				<li class="classy"><a href="#">Chew on This</a></li>
				<li class="classy"><a href="#">(Wo)Manspaining 101</a></li>
			</ul>
		</p>
</div>	
<div class="laughing"></div>
<div class="lwFG">
	<h2>Coaching</h2>
		<p>Direct trade 8-bit flannel drinking vinegar chicharrones. Poutine offal iPhone, kogi roof party cornhole 90's tacos blue bottle neutra kitsch gochujang. Tattooed poutine heirloom, selvage vegan food truck ethical. Portland waistcoat pitchfork pork belly selvage. Occupy tousled beard, ennui marfa banjo readymade lomo disrupt scenester butcher. Yuccie schlitz taxidermy paleo selfies. Organic sartorial twee, drinking vinegar YOLO keffiyeh lumbersexual.</p>
	</div>	
</div>
<div class="group"></div>
<div class="groupFG">
	<h2>Resources</h2>
		<p>Kinfolk before they sold out drinking vinegar, YOLO tumblr bitters microdosing truffaut blog. Hoodie cornhole cray seitan, butcher health goth tilde plaid venmo readymade lomo gluten-free listicle hammock. Twee normcore whatever ugh you probably haven't heard of them taxidermy affogato viral microdosing.</p>
	</div>	
</div>

