<div id="pageBG">
	<img src="/images/woman2.png" class="smiling" />
	<div id="foreground">
	</div>	
</div>

<div>
	<h1>Services</h1>
	<div id="workshop"></div>
	<div id="wwFG">
	<h2 id="left">Workshops</h2>
		<p>Direct trade 8-bit flannel drinking vinegar chicharrones. Poutine offal iPhone, kogi roof party cornhole 90's tacos blue bottle neutra kitsch gochujang. Tattooed poutine heirloom, selvage vegan food truck ethical. Portland waistcoat pitchfork pork belly selvage. Occupy tousled beard, ennui marfa banjo readymade lomo disrupt scenester butcher. Yuccie schlitz taxidermy paleo selfies. Organic sartorial twee, drinking vinegar YOLO keffiyeh lumbersexual.</p>
	</div>	
	<div id="clear">
		<h3>Upcoming Workshops</h3>	
		<iframe src="https://calendar.google.com/calendar/embed?src=i9g0ctalg6f0p52i0m60887b48%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		<p>
			<ul>
				<li class="classy"><a href="#">Show Me the Money: The Jerry Mcguire Method</a></li>
				<li class="classy"><a href="#">Capitalizing on Being a B(adass)</a></li>
				<li class="classy"><a href="#">#BlessUp: Finding the Right Mentor for You</a></li>
				<li class="classy"><a href="#">Breakfast Bites</a></li>
				<li class="classy"><a href="#">Chew on This</a></li>
				<li class="classy"><a href="#">(Wo)Manspaining 101</a></li>
			</ul>
		</p>
	</div>	
	<div id="laughing"></div>
	<div id="lwFG">
	<h2 id="left">Workshops</h2>
		<p>Direct trade 8-bit flannel drinking vinegar chicharrones. Poutine offal iPhone, kogi roof party cornhole 90's tacos blue bottle neutra kitsch gochujang. Tattooed poutine heirloom, selvage vegan food truck ethical. Portland waistcoat pitchfork pork belly selvage. Occupy tousled beard, ennui marfa banjo readymade lomo disrupt scenester butcher. Yuccie schlitz taxidermy paleo selfies. Organic sartorial twee, drinking vinegar YOLO keffiyeh lumbersexual.</p>
	</div>	
</div>

