/*general*/

* {
	margin: 0px;
	top: 0px;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgba(209, 209, 209, 0.4);
}

/* Index page */

#background{
	margin-left: 25px;
	background-image: url(/images/woman-sunset.jpg);
	width: 1200px;
	height: 500px;
}	

#logo {
	position: absolute;
	float: left;	
	padding-top: 428px;
	padding-left: 340px;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	z-index: 1;
}

nav {
	background-color: rgba(133, 232, 223, 0.2);
}

li {
	display: inline;
	padding-right: 20px; 
	font-size: 18px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #fe7d23;
}

form {
	float: right;
	margin-top: -20px;
	margin-right: 50px;
	display: inline;
}

.behave {
	display: inline;
}

#button {
	color: #fe7d23;

}

.underline {
	width: 100%;
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 90px;
	color: #85e8df;
	margin-top: -105px;
	margin-left: 45px;
}

h2 {
	margin-left: 50px;
	padding: 20px 0px;
}

h3 {
	margin-left: 50px;
	padding: 20px 0px;
}	

p {
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

#clear {
	clear: both;
}

.classy {
	display: block;
	width: 200px;
	margin-left: 30px;
	padding: 5px;
	font-size: 16px;
	
}

hr.underline {
	border-color: rgb(133, 232, 223);
    height: 30px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    padding-left: 0px;
}
hr.underline:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-color: rgb(133, 232, 223);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    padding-left: 0px;
}

.bubble {
	background-color: rgba(234, 121, 41, 0.34);
	display: block;
	border-radius: 50%;
	width: 200px;
	height: 300px;
	float: left;
	margin-left: 150px;
	padding-top: 10px;
}

.floating-head {
	margin-left: 17px;
	margin-top: 35px;
}
/*about page*/

#aboutpageheader {
	margin-left: 25px;
	background-image: url(/images/aboutheader.jpg);
	width: 1200px;
	height: 500px;
}

.aboutP {
	margin: 10px;
}

#blackwoman {
	position: relative;
	background-image: url(/images/black_woman_smiling.jpg);
	margin-left: 50px;
	margin-bottom: 200px;
	width: 950px;
	height: 475px;
	z-index: -1;

}

#asianwoman {
	position:relative;
	background-image: url(/images/asian_woman_smiling.jpg);
	margin-left: 250px;
	margin-bottom: 200px;
	width: 950px;
	height: 475px;
	z-index: -1;

}

#latinawoman {
	position: relative;
	background-image: url(/images/latina_woman_smiling.jpg);
	margin-left: 50px;
	width: 950px;
	height: 475px;
	z-index: -1;
}

#pageBG {
	background-color: rgba(209, 209, 209, 0.4);
	z-index: 1;
}


#bwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: 130px;
	margin-left: 580px;
	z-index: 2;
}

.asianW {
	position: relative;
	opacity: 0;
	left: 300px;
}

#awFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: 150px;
	margin-left: 50px;
	z-index: 2;
}

#lwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: 150px;
	margin-left: 580px;
	z-index: 2;
}

input {
	display: block;
	border-color: rgb(133, 232, 223);
	font-color: #85e8df;

}

#space {
	width: 950px;
	height: 150px;
	z-index: -1;
}

/*Animations*/
/*.animation-elements1 {
	opacity: 0;
	position: relative;
}

.animation-elements1.slide-left {
	opacity: 0;
	-webkit-transition: all 3000 linear;
	transition: all 3000 linear;
	-webkit-transform: translate3d (-100px, 0px, 0px);
	transform: translate3d(-100px, 0px, 0px);
}

.animation-elements1.slide-left.in_view {
	opacity: 1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px,0px, 0px);
}*






/*services*/

.smiling {
	padding-left: 250px;
}

#workshop {
	position: relative;
	background-image: url(/images/workshop_women.png);
	margin-left: 50px;
	margin-bottom: 200px;
	width: 630px;
	height: 350px;
	z-index: -1;
}

#wwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 200px;
	padding: 25px;
	float: left;
	margin-top: -480px;
	margin-left: 480px;
	z-index: 2;
}

#clear {
	padding: 0px 0px;
	margin-top: -200px;
	margin-left: 50px;
}

#line {
	border-bottom: 1px solid #a3e9e2;
	margin-top: 0px;
	width: 200px;
}

iframe {
	float: right;
	width: 350px;
	height: 350px;
	margin-top: -50px;
	margin-right: 150px;
}

#laughing {
	position: relative;
	float: left;
	background-image: url(/images/laughing-women.png);
	margin-top: 50px;
	margin-bottom: 200px;
	width: 500px;
	height: 373px;
	z-index: -1;
}




footer {
	clear: both;
	padding-top: 20px;
}