/*general*/

* {
	margin: 0px;
	top: 0px;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgba(209, 209, 209, 0.4);
}

/* Index page */

#background{
	margin-left: 25px;
	background-image: url(/images/woman-sunset.jpg);
	width: 1200px;
	height: 500px;
}	

#logo {
	position: absolute;
	float: left;	
	padding-top: 428px;
	padding-left: 340px;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	z-index: 1;
}

nav {
	background-color: rgba(133, 232, 223, 0.2);
}

li {
	display: inline;
	padding-right: 20px; 
	font-size: 18px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #fe7d23;
}

.join {
	float: right;
	margin-top: -20px;
	margin-right: 50px;
	display: inline;
}

.behave {
	display: inline;
}

#button {
	color: #fe7d23;

}

.underline {
	width: 100%;
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 90px;
	color: #85e8df;
	margin-top: -105px;
	margin-left: 45px;
}

h2 {
	margin-left: 50px;
	padding: 20px 0px;
}

h3 {
	margin-left: 50px;
	padding: 20px 0px;
}	

p {
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
}

#clear {
	clear: both;
}

.classy {
	display: block;
	width: 200px;
	margin-left: 30px;
	padding: 5px;
	font-size: 16px;
	
}

hr.underline {
	border-color: rgb(133, 232, 223);
    height: 30px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    padding-left: 0px;
}
hr.underline:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-color: rgb(133, 232, 223);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    padding-left: 0px;
}

.blue-background { 
	background-color: rgba(133, 232, 223, 0.2);
}

.bubble {
	background-color: #FFC092;
	display: block;
	border-radius: 50%;
	width: 200px;
	height: 250px;
	float: left;
	margin-left: 170px;
	padding-top: 10px;
}

.floating-head {
	margin-left: 33px;
	margin-top: 17px;
}

#floating-head {
	margin-left: 40px;
	margin-top: 17px;
}

h4 {
	float: left;
	width: 130px;
	margin-left: 240px;
	margin-top: 20px;
	font-family:'Yellowtail', cursive;
	font-size: 30px;

}

.under-bubble{
	width: 150px;
	float: left;
	margin-left: 205px;
	margin-right: 0px;
}

.clear {
	clear: both;
	background-color: rgba(133, 232, 223, 0.2);
}

.newsletter {
	float: left;
	margin-left: 280px;
	padding-left: 60px;
	padding-top: 20px;
	width: 50%;
	height: 150px;
	border: 10px solid #FFC092;
}

.sign-up {
	font-family:'Yellowtail', cursive;
	font-size: 30px;
	float: none;
	display: inline;
	margin-left: 130px;
	padding-top: 50px;
	
}

#newsletter-1{
	float: none;
	padding-left: 130px;
	padding-top: 20px;
	margin-top: 0px;
}

.newsletter-input {
	float: none;
	padding-top: 10px;
	display: inline;
	margin-top: 0px;

}


/*about page*/

#aboutpageheader {
	margin-left: 25px;
	background-image: url(/images/aboutheader.jpg);
	width: 1200px;
	height: 500px;
}

.aboutP {
	margin: 10px;
}

.her {
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: #FFC092;
	padding: 2px;
}

#blackwoman {
	position: relative;
	background-image: url(/images/black_woman_smiling.jpg);
	margin-left: 50px;
	margin-bottom: 200px;
	width: 950px;
	height: 475px;
	z-index: -1;

}

.asianwoman {
	position:relative;
	background-image: url(/images/asian_woman_smiling.jpg);
	margin-left: 250px;
	margin-bottom: 200px;
	width: 950px;
	height: 475px;
	z-index: -1;
	opacity: 0;

}

.latinawoman {
	position: relative;
	background-image: url(/images/latina_woman_smiling.jpg);
	margin-left: 50px;
	width: 950px;
	height: 475px;
	z-index: -1;
	opacity: 0;
}

#pageBG {
	background-color: rgba(209, 209, 209, 0.4);
	z-index: 1;
}


#bwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: 130px;
	margin-left: 580px;
	z-index: 2;
}

.asianW {
	position: relative;
	opacity: 0;
}

#awFG {
	position: relative;
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: 150px;
	margin-left: 50px;
	z-index: 2;
	opacity: 0;
}

.latinaW {
	position: relative;
	opacity: 0;
}

#lwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: 150px;
	margin-left: 580px;
	z-index: 2;
	opacity: 0;
}

input {
	display: block;
	border-color: rgb(133, 232, 223);
	font-color: #85e8df;

}

#space {
	width: 950px;
	height: 150px;
	z-index: -1;
}

/*services*/

.smiling {
	padding-left: 250px;
}

.workshop {
	position: relative;
	background-image: url(/images/workshop_women.png);
	margin-left: 50px;
	margin-bottom: 200px;
	width: 630px;
	height: 350px;
	z-index: -1;
	opacity: 0;
}

.wwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 200px;
	padding: 25px;
	float: left;
	margin-top: -480px;
	margin-left: 480px;
	z-index: 2;
	opacity: 0;

}

#clear {
	padding: 0px 0px;
	margin-top: -200px;
	margin-left: 50px;
}

#line {
	border-bottom: 1px solid #a3e9e2;
	margin-top: 0px;
	width: 200px;
}

iframe {
	float: right;
	width: 350px;
	height: 350px;
	margin-top: -50px;
	margin-right: 150px;
	z-index: 2;
}

.laughing {
	position: relative;
	float: left;
	background-image: url(/images/laughing-women.png);
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 200px;
	width: 500px;
	height: 373px;
	z-index: -1;
	opacity: 0;
}

.lwFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 200px;
	padding: 25px;
	float: left;
	margin-top: -480px;
	margin-left: 480px;
	z-index: 2;
	opacity: 0;
}

.group{
	position: relative;
	float: right;
	background-image: url(/images/group-workshop.png);
	margin-top: -120px;
	margin-right: 20px;
	margin-bottom: 200px;
	width: 500px;
	height: 260px;
	z-index: -1;
	opacity: 0;
}

.groupFG {
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 160px;
	padding: 25px;
	float: right;
	z-index: 2;
	opacity: 0;
	margin-top: 200px;
	margin-top: -80px;
}

/*contact*/


.charmel {
	float: left;
	padding-top: 20px;
	height: 500px;
	width: 1280px;
	/*background-color: rgba(133, 232, 223, 0.2);*/
}

#info1 {
	position: relative;
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: left;
	margin-top: -350px;
	margin-left: 300px;
	z-index: 2;
}

.camille {
	float: right;
	padding-top: 20px;
}

#info {
	position: relative;
	background-color: rgba(133, 232, 223, 0.7);
	width: 600px;
	height: 150px;
	padding: 25px;
	float: right;
	margin-top: 150px;
	margin-right: -100px;
	z-index: 2;
}

.contactBG {
	clear: both;
	background-color: rgba(133, 232, 223, 0.2);
	height: 500px;
	width: 1280px;
}

.contactBG1 {
	clear: both;
	background-color: rgba(133, 232, 223, 0.2);
	height: 510px;
	width: 1280px;
}

h4.names {
	float: left;
	width: 130px;
	margin-left: 15px;
	margin-top: -25px;
	font-family:'Yellowtail', cursive;
	font-size: 30px;
}

#contact_form {
	clear: both;
	float: left;
	margin-left: 280px;
	padding-left: 60px;
	padding-top: 20px;
	width: 50%;
	height: 180px;
	border: 10px solid #FFC092;
}

/*footer*/

footer {
	clear: both;
	padding-top: 20px;
}

.footer-block {
	display: block;
	margin-left: 105px;
	font-size: 14px;
}

.social {
	display: inline;
	width: 50px;
	height: 50px;
	padding-left: 1080px;
	margin-top: -300px;
}



